<footer class="footer bg-gray-900 px-10 py-6 border-t border-white/10">
  <section class="flex gap-2 justify-center">
    <a class="bg-black social-button animate-slide-up-fade animate-delay-500 rounded-md" href="https://linkedin.com/in/jmyaguana2"
        target="_blank" aria-label="LinkedIn" title="Ir a LinkedIn de @jmyaguana2" rel="noopener">
      <svg width="28" height="28">
        <use xlink:href="sprite.svg#linkedin" />
      </svg>
    </a>
    <a class="bg-black social-button animate-slide-up-fade animate-delay-500" href="https://github.com/JonathanYaguana"
        target="_blank" aria-label="GitHub" title="Ir a GitHub de @jmyaguana2" rel="noopener">
      <svg width="28" height="28">
        <use xlink:href="sprite.svg#github" />
      </svg>
    </a>
  </section>
  <div class="mt-4 text-center animate-slide-up-fade animate-delay-700">
    <p class="text-white">Copyright © 2025 | Coded by Jonathan Yaguana</p>
  </div>
</footer>
