<div class="bg-gray-800">
  <h2 class="text-3xl font-bold text-gray-100 text-center bg-gray-800 p-6">Sobre mí</h2>
<div class="container mx-auto px-4 py-8">
  <p class="text-white text-2xl mt-4">
    ¡Hola! Soy Jonathan, un desarrollador en constante aprendizaje, perseverante, de fácil proceso adaptativo, me oriento por buscar y aplicar soluciones rápidas e irlas mejorando durante el proceso. Apasionado por crear aplicaciones web innovadoras y funcionales. Me especializo en tecnologías como Angular y Java. Me encanta aprender nuevas habilidades y enfrentar desafíos técnicos.
  </p>
  <p class="text-white text-2xl mt-4">
    Mi enfoque combina creatividad, lógica y un compromiso constante con el aprendizaje, lo que me permite adaptarme a nuevos lenguajes, frameworks y metodologías.
    En mi tiempo libre, disfruto explorando nuevas tendencias en desarrollo web y como implementarlas para mejorar mis habilidades en diseño de aplicaciones.
  </p>
</div>
</div>
